<div data-role="view"
     data-model="app.recordStory.viewModel"
     data-layout="demo-layout">
   
    <div class="content">
        <h1></h1>
        <div class="action-area ch50">
            <button data-bind="click: play">Play</button>
		    <button data-bind="click: pause">Pause</button>
		    <button data-bind="click: stop">Stop</button>
            <button data-bind="click: record">Capture</button>
        </div>
		
    </div>
    <div id="playing"></div>
</div>