<div data-role="view" id="view_board" data-title="C5: Scale/Crop" data-model="app.board.viewModel" data-show="app.board.viewModel.onViewShow" data-mode="upload" data-layout="demo-layout">
<!--	<div class="imageLoader subView">
		<label class="btn btn-primary btn-upload" for="inputImage" title="Upload image file">
			<input id="inputImage" name="file" type="file" accept="image/*">
			<span class="docs-tooltip" data-toggle="tooltip" title="Import image with Blob URLs">
              <span class="icon icon-upload"></span>
			</span>
		</label>
		
		<div id="originalImage" data-orientation="">
			<img src="/assets/base.png">
		</div>
	</div>
	
	<div class="crop subView">
			</div>
	
	<div class="finalised subView">
		<div id="croppedImage" data-orientation=""></div>
	</div>
    <div id="media"></div>
    <div id="toolbar-canvas" data-mode="crop">
		<button data-bind="click: createCrop" type="button" class="crop"><span>Enable Crop</span></button>
		<button data-method="getCroppedCanvas" type="button" class="crop"><span>Ready!</span></button>
    <button data-bind="click: captureAudio">Record</button>        
	</div>
    -->
    <div id="canvas-wrap" data-bind="style: {width: canvas.width, height: canvas.height}">
        <img data-bind="attr: { src: canvas.imageSrc }" />
        <!--<canvas id="primaryBoard"></canvas>-->
     </div>
    
    <div id="toolbar-shapes">
        <ul class="ico-toolbar">
            <li data-icon="b"></li>
            <li data-icon="c"></li>
            <li data-icon="a"></li>
        </ul>
    </div>
    
    
</div>