<div data-role="view"
     data-show="runMediaPlayer"
     data-layout="demo-layout">
    <div  id="media"></div>
    <div class="content">
        <div class="action-area ch50">
            <button class="button" id="buttonPlayAudio">Play</button>
		    <button class="button" id="buttonPauseAudio">Pause</button>
		    <button class="button" id="buttonStopAudio">Stop</button>
            <button class="button" id="captureAudio">Capture Audio</button>
        </div>
		<div class="result-area ch50">
            <div class="results">
                <div id="result" class="desc"></div>
            </div>
        </div>
    </div>
</div>